<%= form_for @trade do |form| %>
	<% if @trade.errors.any? %>
		<div class="callout alert">
			<h3>Something went wrong.</h3>
			<ul>
				<% for message in @trade.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<p>
		<%= form.label :name %>
		<%= form.text_field :name %>
	</p>
	
	<p>
		<%= form.label :description %>
		<%= form.text_area :description, class: "description-input" %>
	</p>
	
	<div class="row small-collapse">
		<div class="small-5 columns">
			<%= form.label :offer_deadline %>
			<%= form.text_field :offer_deadline, class: "datetime-picker", value: @trade.offer_deadline.strftime("%Y-%m-%d %H:%M:%S") %>
		</div>
		<div class="small-5 columns">
			<%= form.label :wants_deadline %>
			<%= form.text_field :wants_deadline, class: "datetime-picker", value: @trade.wants_deadline.strftime("%Y-%m-%d %H:%M:%S") %>
		</div>
	</div>
	
	
	<p>
		<%= form.label :shipping, "Shipping?" %>
		<%= form.check_box :shipping %>
	</p>
	
	<p>
		<%= form.label :discussion_thread, "Discussion Thread ID" %>
		<%= form.text_field :discussion_thread %>
		<p class="help-text">
			This is the thread ID for your math trade's discussion, for example: https://boardgamegeek.com/thread/XXXXXXXX/my-first-math-trade-discussion
		</p>
	</p>
	
	<p>
		<%= form.submit "Save Trade", class: "button" %>
	</p>
<% end %>