<% base_url = "/trades/" + @trade.id.to_s %>
<div class="row">
	<div class="medium-3 large-2 columns">
		<ul class="vertical menu trade-nav" id="trade-menu">
			<li><%= link_to "Home", math_trade_path(@trade) %></li>
			
      <li class="trade-nav-title">My Listings</li>
      <% if !(@trade.offers_due? || @trade.status != "active") %>
     	 <li><%= link_to "List a New Item", new_math_trade_math_trade_item_path(@trade) %></li>
     	 <li><%= link_to "Add From Collection", new_math_trade_math_trade_item_path(@trade, mode: "fortrade") %></li>
     	 <li><%= link_to "Copy from Previous Trade", show_copy_from_previous_trade_math_trade_math_trade_items_path(@trade) %></li>
     	<% end %>
      <li><%= link_to "My Offers", math_trade_math_trade_items_path(@trade, filter: "me") %></li>
          
      <li class="trade-nav-title">My Wants</li>
      <% if !(@trade.wants_due? || @trade.status != "active") %>
      	<li><%= link_to "Add Items to Wantlist", math_trade_math_trade_items_path(@trade) %></li>
      <% else %>
        <li><%= link_to "View Offers", math_trade_math_trade_items_path(@trade) %></li>
			<% end %>
			<li><%= link_to (@trade.wants_due? || @trade.status != "active") ? "View Wantlist": "Manage Wantlist", manage_wantlist_math_trade_path(@trade) %></li>
			
      <li class="trade-nav-title">Filter</li>
      <li><%= link_to "On My Wishlist", math_trade_math_trade_items_path(@trade, filter: "wishlist") %></li>
      <li><%= link_to "Want In Trade", math_trade_math_trade_items_path(@trade, filter: "wantintrade") %></li>
			<li><%= link_to "Want To Play", math_trade_math_trade_items_path(@trade, filter: "wanttoplay") %></li>
      <li><%= link_to "Want To Buy", math_trade_math_trade_items_path(@trade, filter: "wanttobuy") %></li>
      <li><%= link_to "Items I Already Own", math_trade_math_trade_items_path(@trade, filter: "owned") %></li>
      <li><%= link_to "Gift Certificates", math_trade_math_trade_items_path(@trade, filter: "giftcertificate") %></li>
      <li><%= link_to "Geek Gold", math_trade_math_trade_items_path(@trade, filter: "geekgold") %></li>
      <li><%= link_to "Cash", math_trade_math_trade_items_path(@trade, filter: "cash") %></li>
      
			<% if @trade.can_view_results(current_user) %>
				<li class="trade-nav-title">Results</li>
	      <li><%= link_to "View Results", results_math_trade_path(@trade) %></li>
	      <li><%= link_to "Raw Results", raw_results_math_trade_path(@trade) %></li>
	      <li><%= link_to "Who Wanted Mine", who_wanted_mine_math_trade_path(@trade) %></li>
			<% end %>
			
			<li class="trade-nav-title">Tools</li>
			<li><%= link_to "Generate Wantlist", generate_wantlist_math_trade_path(@trade) %></li>

			
			<% if @trade.moderator_id == current_user.id %>
	      <li class="trade-nav-title">Administration</li>
	      <% if @trade.status != "finalized" %>
	     		<li><%= link_to "Edit Trade Info", edit_math_trade_path(@trade) %></li>
			 		<li><%= link_to "Manage Trade Status", status_math_trade_path(@trade) %></li>
	      <% end %>
				<% if @trade.status != "finalized" %>
	      	<li><%= link_to "Upload Results", upload_math_trade_path(@trade) %></li>
					<li><%= link_to "Delete Trade", confirm_delete_math_trade_path(@trade) %></li>
	      <% end %>
      <% end %>
    </ul>
	</div>
	<div class="medium-9 large-10 columns">
		<%= yield %>
	</div>
</div>