<%= render layout: "trade_layout" do %>
	<h1 class="trade-title"><%= @trade.name %></h1>
	<h4>
			<small><i>A trade by <%= @trade.moderator.bgg_account %></i></small>
	</h4>
	<p>
		Created <%= distance_of_time_in_words_to_now @trade.created_at %> ago.
	</p>
	<p class="row">
		<div class="small-6 columns center">
			<h5>
				Offers are due in <%= distance_of_time_in_words_to_now @trade.offer_deadline %>. 
				<div class="due-date-exact">
					(<%= @trade.offer_deadline %>)
				</div>
			</h5>
		</div>
		<div class="small-6 columns center">
			<h5>
				Wants are due in <%= distance_of_time_in_words_to_now @trade.wants_deadline %>.
				<div class="due-date-exact">
					(<%= @trade.offer_deadline %>)
				</div>
			</h5>
		</div>
	</p>
	<fieldset class="fieldset">
		<legend>Description</legend>
		<%= @trade.description %>
	</fieldset>
	<% if @trade.discussion_thread %>
	<p>
		Discussion Thread: 
		<a href="http://www.boardgamegeek.com/thread/<%= @trade.discussion_thread %>/">
			http://www.boardgamegeek.com/thread/<%= @trade.discussion_thread %>/
		</a>
	</p>
	<% end %>
<% end %>