<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) + " - " : "" %>Acceptable Trader</title>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
		<div class="top-bar">
			<div class="top-bar-title">
		    <span class="responsive-menu-toggle" data-responsive-toggle="responsive-menu" data-hide-for="medium">
		      <button class="menu-icon dark" type="button" data-toggle></button>
		    </span>
				<li class="menu-text"><%= link_to "Acceptable Trader", root_url%></li>
		  </div>
			<div id="responsive-menu">
			  <div class="top-bar-left">
			    <ul class="dropdown menu" data-dropdown-menu data-click-open="false">
				   	<% if current_user.nil? %>
							<li><%= link_to "All Trades", math_trades_path %></li>
					  <% else %>
				      <li>
				        <a href="#">Trades</a>
				        <ul class="submenu menu vertical" data-submenu>
									<li><%= link_to "Trades I'm In", math_trades_path(filter: "participating") %></li>
									<li><%= link_to "Trades I'm Running", math_trades_path(filter: "running") %></li>
									<li><%= link_to "All Trades", math_trades_path %></li>
				        </ul>
				      </li>
			      <% end %>
						<li><%= link_to "Rules", rules_path %></li>
			    </ul>
			  </div>
			  <div class="top-bar-right">
					<% if current_user %>
			    <ul class="dropdown menu" data-dropdown-menu>
				    <li>
				    	<a href="#"> Welcome, <%= current_user.bgg_account %></a>
				      <ul class="menu vertical">
					      <li><%= link_to "Account Settings", settings_path %></li>
					      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
				      </ul>
				    </li>
			    </ul>
			    <% else %>
			    	<ul class="dropdown menu" data-dropdown-menu>
				    	<li><%= link_to "Login", user_session_path %></li>
				    	<li><%= link_to "Register", new_user_registration_path %></li>
			    	</ul>
			    <% end %>
			  </div>
			</div>
		</div>
		<div class="top-alerts">
			<% if flash[:notice] %>
	    <div class="callout primary top-alert">
		    <p>
			    <%= flash[:notice] %>
		    </p>
		  </div>
			<% end %>
			
			<% if !@callouts.nil? %>
				<% @callouts.each do |callout| %>
				<div class="callout top-alert <%= callout[:type] %>">
					<p>
						<%=raw callout[:message] %>
					</p>
				</div>
				<% end %>
			<% end %>
		</div>
		<div class="row expanded main-content">
			<div class="small-12">
				<%= yield %>
			</div>
		</div>
		<footer>
			Built by <a href="http://www.boardgamegeek.com/user/acceptableice">AcceptableIce</a> 
			(<a href="http://www.twitter.com/acceptableice">Twitter</a>)
			<div class="footer-links">
				<span class="footer-link">
					<a href="/about">About</a>
				</span>
			</div>
		</footer>
		<%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  </body>
</html>
