<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) + " - " : "" %>Math Trade Manager</title>

    <%= stylesheet_link_tag    "application" %>
    
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
		<div class="top-bar">
		  <div class="top-bar-left">
		    <ul class="dropdown menu" data-dropdown-menu>
		      <li class="menu-text">Math Trade Manager</li>
		      <li>
		        <a href="#">One</a>
		        <ul class="menu vertical">
		          <li><a href="#">One</a></li>
		          <li><a href="#">Two</a></li>
		          <li><a href="#">Three</a></li>
		        </ul>
		      </li>
		      <li><a href="#">Two</a></li>
		      <li><a href="#">Three</a></li>
		    </ul>
		  </div>
		  <div class="top-bar-right">
				<% if current_user %>
		    <ul class="dropdown menu" data-dropdown-menu>
			    <li>
			    	<a href="#"> Welcome, <%= current_user.bgg_account %></a>
			      <ul class="menu vertical">
				      <li><a href="#">Account Settings</a></li>
				      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
			      </ul>
			    </li>
		    </ul>
		    <% else %>
		    	<ul class="dropdown menu" data-dropdown-menu>
			    	<li><%= link_to "Login", user_session_path %></li>
			    	<li><%= link_to "Register", new_user_registration_path %></li>
		    	</ul>
		    <% end %>
		  </div>
		</div>
		<div class="top-alerts">
			<% if flash[:notice] %>
	    <div class="callout primary top-alert">
		    <p>
			    <%= flash[:notice] %>
		    </p>
		  </div>
			<% end %>
			
			<% if !@callouts.nil? %>
				<% @callouts.each do |callout| %>
				<div class="callout top-alert <%= callout[:type] %>">
					<p>
						<%= callout[:message] %>
					</p>
				</div>
				<% end %>
			<% end %>
		</div>
		<div class="row expanded main-content">
			<div class="small-12">
				<%= yield %>
			</div>
		</div>
		<footer class="row">
			<%= "Environment: #{Rails.env}" %>
		</footer>
  </body>
</html>
